# ──────────────── COMMON IDEs ────────────────
.idea/
.vscode/
*.iml
*.ipr
*.iws
out/

# ──────────────── OS FILES ────────────────
.DS_Store
Thumbs.db

# ──────────────── MAVEN / JAVA ────────────────
**/target/
**/.mvn/
**/mvnw
**/mvnw.cmd
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/.springBeans
**/.restart
**/.restarted
**/*.log

# ──────────────── DOTNET ────────────────
**/bin/
**/obj/
**/*.suo
**/*.user
**/*.userosscache
**/*.sln.docstates
**/*.log

# ──────────────── PYTHON ────────────────
**/__pycache__/
**/*.py[cod]
**/.venv/
**/.env
**/.env.*
**/logs/

# ──────────────── NODE / REACT ────────────────
**/node_modules/
**/build/
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# ──────────────── DOCKER / COMPOSE  ────────────────
/Dockerfile
/compose.yaml

# ──────────────── SECRETS / CONFIG ────────────────
**/appsettings.Development.json
**/appsettings.Production.json
**/secrets.json